body{
    margin: 1rem;
}
.form{
    font-size: 30px;
}
#loginpage{
    display: none;
    text-align: center;
}
#registerpage{
    display: none;
    text-align: center;
}
.btn{
    font-size: 30px;
    background-color: aqua;
    border-radius: 10px;
}
h1{
    color: blue;
}
#welcompage{
    background-color: rgb(232, 230, 235);
    text-align: center;
    height: 150px;
    
}